# Backend --------------------------------------------------------------------------------------------------------------
# Ignore bundler config.
backend/.bundle

# Ignore all logfiles and tempfiles.
backend/log/*
backend/tmp/*
backend/log/.keep
backend/tmp/.keep

# Ignore pidfiles, but keep the directory.
backend/tmp/pids/*
backend/tmp/pids/
backend/tmp/pids/.keep

# Ignore uploaded files in development.
backend/storage/*
backend/storage/.keep
backend/.byebug_history

# Ignore master key for decrypting credentials and more.
backend/config/master.key

# Client ---------------------------------------------------------------------------------------------------------------
# dependencies
next-flesh/node_modules
next-flesh/.pnp
next-flesh/.pnp.js

# testing
next-flesh/coverage

# next.js
next-flesh/.next/
next-flesh/out/

# production
next-flesh/build

# misc
next-flesh/.DS_Store
next-flesh/*.pem

# debug
next-flesh/npm-debug.log*
next-flesh/yarn-debug.log*
next-flesh/yarn-error.log*

# local env files
next-flesh/.env.local
next-flesh/.env.development.local
next-flesh/.env.test.local
next-flesh/.env.production.local

# vercel
next-flesh/.vercel
